:host {
  height: 100vh;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  app-nav-header {
    flex-grow: 0;
    flex-shrink: 0;
  }
  mat-sidenav-container {
    flex-grow: 1;
  }

  .page-content {
    max-width: 50rem;
    padding: 1rem;
    .icon-card {
      padding-top: 1rem;
      mat-card-content {
        display: flex;
        justify-content: center;
      }
    }
  }
}
