<mat-card>
  <mat-card-title>
    Class Icon
  </mat-card-title>
  <mat-card-content style="width: 500px; height: 770px">
    <div class="icon-container"
         #characterIcon>
      <div class="origin-container">
        <img *ngIf="newOriginIcon"
             src="assets/origins_new/{{ newOriginIcon }}" />
      </div>
      <div class="career-container">
        <img *ngIf="newCareer1Icon"
             src="assets/careers_new/{{ newCareer1Icon }}" />
        <img *ngIf="newCareer2Icon"
             src="assets/careers_new/{{ newCareer2Icon }}"
             style="transform: scaleX(-1);" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
