<mat-card *ngIf="formGroup != null">
  <mat-card-title>
    Character Selection
  </mat-card-title>
  <mat-card-content>
    <form class="inline-form"
          [formGroup]="formGroup">
      <div class="row">
        <mat-form-field>
          <mat-label>
            Character Name
          </mat-label>
          <input matInput
                 formControlName="name"
                 name="uw_character_name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Archetype
          </mat-label>
          <input matInput
                 formControlName="archetype"
                 name="uw_archetype" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Origin</mat-label>
          <mat-select formControlName="origin">
            <mat-option *ngFor="let background of backgrounds"
                        [value]="background">
              {{ background }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Career 1</mat-label>
          <mat-select formControlName="career1">
            <mat-option *ngFor="let career of careers"
                        [value]="career">
              {{ career }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Career 2</mat-label>
          <mat-select formControlName="career2">
            <mat-option *ngFor="let career of careers"
                        [value]="career">
              {{ career }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
