<mat-toolbar color="primary">
  <a mat-button
     routerLink="/characterInfo">
    Character Info
  </a>
  <a mat-button
     routerLink="/attributes">Attributes</a>
  <a mat-button
     routerLink="/moves">Moves</a>
  <a mat-button
     routerLink="/ship">Ship</a>
  <a mat-button
     routerLink="/factions">Factions and Debt</a>
  <div class="right-content">
    <button mat-button
            (click)="createCharacterSheet()"
            color="accent">
      Create Character Sheet
    </button>
  </div>
</mat-toolbar>
